In [19]:
import numpy as np
import pandas as pd
import ast

In [80]:
movies=pd.read_csv('tmdb_5000_movies.csv')
credit=pd.read_csv('tmdb_5000_credits.csv')

In [81]:
movies=movies.merge(credit, on="title")

In [82]:
# khud se pochna ha har col k base pe k ye tag nikalney me help karey ga??
# budget matter nh karey ga
#genre karey ga matter
#keywords or id matter karey ga
# title rakhey gey
# overview is most important
# realize date khud se explore karna ha kaisey ye effect kar sakta ha
# cast could be factor and crew(director) as well

In [83]:
movies=movies[['movie_id','title','overview','genres','keywords','cast','crew']]

In [84]:
movies.head(1)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [85]:
movies.isnull().sum()

movie_id    0
title       0
overview    3
genres      0
keywords    0
cast        0
crew        0
dtype: int64

In [86]:
movies.dropna(inplace=True)

In [87]:
movies.duplicated().sum()

0

In [88]:
# str ko list me karney k liye python me ek function ha ast.literal_eval k name se usey use karey gey genre k name fetch karney k liye

In [89]:
def convert(obj):
    L=[]
    for i in ast.literal_eval(obj):
        L.append(i['name'])
    return L

In [90]:
movies['genres']=movies['genres'].apply(convert)

In [91]:
movies['keywords']=movies['keywords'].apply(convert)

In [92]:
def convert1(obj):
    L=[]
    counter=0
    for i in ast.literal_eval(obj):
        if counter !=3:
            L.append(i['name'])
            counter+=1
    return L

In [93]:
movies['cast']=movies['cast'].apply(convert1)

In [94]:
def convert2(obj):
    L=[]
    for i in ast.literal_eval(obj):
        if i['job']== "Director":
            L.append(i['name'])
            break
    return L

In [95]:
movies['crew']=movies['crew'].apply(convert2)

In [96]:
movies['overview']=movies['overview'].apply(lambda x : x.split())

In [97]:
movies.head(3)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]",[James Cameron]
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley]",[Gore Verbinski]
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send...","[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[Daniel Craig, Christoph Waltz, Léa Seydoux]",[Sam Mendes]

In [98]:
movies['genres']=movies['genres'].apply(lambda x: [i.replace(" ","") for i in x])
movies['cast']=movies['cast'].apply(lambda x: [i.replace(" ","") for i in x])
movies['crew']=movies['crew'].apply(lambda x: [i.replace(" ","") for i in x])

In [99]:
movies.head(1)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, ScienceFiction]","[culture clash, future, space war, space colon...","[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron]

In [122]:
movies['tags']=movies['overview']+movies['genres']+movies['cast']+movies['crew']

In [123]:
df=movies[['movie_id','title','tags']]

In [124]:
df['tags']=df['tags'].apply(lambda x:" ".join(x))

C:\Users\MUGHAL SYSTEMS\AppData\Local\Temp\ipykernel_9676\2493417758.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['tags']=df['tags'].apply(lambda x:" ".join(x))

In [125]:
df['tags']=df['tags'].apply(lambda x: x.lower())

C:\Users\MUGHAL SYSTEMS\AppData\Local\Temp\ipykernel_9676\3228580152.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['tags']=df['tags'].apply(lambda x: x.lower())

In [126]:
df

,movie_id,title,tags
0,19995,Avatar,"in the 22nd century, a paraplegic marine is di..."
1,285,Pirates of the Caribbean: At World's End,"captain barbossa, long believed to be dead, ha..."
2,206647,Spectre,a cryptic message from bond’s past sends him o...
3,49026,The Dark Knight Rises,following the death of district attorney harve...
4,49529,John Carter,"john carter is a war-weary, former military ca..."
...,...,...,...
4804,9367,El Mariachi,el mariachi just wants to play his guitar and ...
4805,72766,Newlyweds,a newlywed couple's honeymoon is upended by th...
4806,231617,"Signed, Sealed, Delivered","""signed, sealed, delivered"" introduces a dedic..."
4807,126186,Shanghai Calling,when ambitious new york attorney sam is sent t...
4808,25975,My Date with Drew,ever since the second grade when he first saw ...

In [140]:
from nltk.stem.porter import PorterStemmer
ps=PorterStemmer()

In [141]:
def stem(text):
    y=[]
    for i in text.split():
        y.append(ps.stem(i))
    return " ".join(y)

In [143]:
df['tags']=df['tags'].apply(stem)

C:\Users\MUGHAL SYSTEMS\AppData\Local\Temp\ipykernel_9676\4230616273.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['tags']=df['tags'].apply(stem)

In [144]:
from sklearn.feature_extraction.text import CountVectorizer
cv=CountVectorizer(max_features=5000, stop_words="english")

In [145]:
vectors=cv.fit_transform(df['tags']).toarray()

In [149]:
#cosine distance nikaley gey vector k darmiyan ka

In [150]:
from sklearn.metrics.pairwise import cosine_similarity

In [152]:
similarity=cosine_similarity(vectors)

In [153]:
similarity[1]

array([0.13957263, 1.        , 0.08399211, ..., 0.03253   , 0.        ,
       0.03539962])

In [159]:
def recomend(movie):
    movie_index=df[df['title']==movie].index[0]
    distances=similarity[movie_index]
    movies_list = sorted(list(enumerate(distances)),reverse=True,key=lambda x:x[1])[1:6]
    for i in movies_list:
        print(i[0])

In [160]:
recomend('Avatar')

2999
4405
61
1444
942

In [166]:
df.iloc[942].title

'The Book of Life'

In [163]:
df

,movie_id,title,tags
0,19995,Avatar,"in the 22nd century, a parapleg marin is dispa..."
1,285,Pirates of the Caribbean: At World's End,"captain barbossa, long believ to be dead, ha c..."
2,206647,Spectre,a cryptic messag from bond’ past send him on a...
3,49026,The Dark Knight Rises,follow the death of district attorney harvey d...
4,49529,John Carter,"john carter is a war-weary, former militari ca..."
...,...,...,...
4804,9367,El Mariachi,el mariachi just want to play hi guitar and ca...
4805,72766,Newlyweds,a newlyw couple' honeymoon is upend by the arr...
4806,231617,"Signed, Sealed, Delivered","""signed, sealed, delivered"" introduc a dedic q..."
4807,126186,Shanghai Calling,when ambiti new york attorney sam is sent to s...
4808,25975,My Date with Drew,ever sinc the second grade when he first saw h...

In [177]:
import pickle

In [179]:
pickle.dump(df.to_dict(),open("movie_dict.pkl",'wb'))

In [180]:
pickle.dump(similarity,open('similarity','wb'))

In [183]:
import requests

In [186]:
response=requests.get('https://api.themoviedb.org/3/movie/{}?api_key=a79d083ab9e9fc24937a21bb8adb281f&language=en-US'.format(66))
data=response.json()
print(data)

{'adult': False, 'backdrop_path': '/n7U0FEirHej1yQIy2mAzDtF9wBz.jpg', 'belongs_to_collection': None, 'budget': 50000000, 'genres': [{'id': 80, 'name': 'Crime'}, {'id': 18, 'name': 'Drama'}, {'id': 28, 'name': 'Action'}], 'homepage': '', 'id': 66, 'imdb_id': 'tt0118548', 'original_language': 'en', 'original_title': 'Absolute Power', 'overview': 'A master thief coincidentally is robbing a house where a murder—in which the President of The United States is involved—occurs in front of his eyes. He is forced to run, while holding evidence that could convict the President.', 'popularity': 18.241, 'poster_path': '/xX9gmwtnTi0Y8WcTF7Jsg9Hdp6W.jpg', 'production_companies': [{'id': 97, 'logo_path': '/qv3ih9pR9w2XNKZDsqDqAGuZjqc.png', 'name': 'Castle Rock Entertainment', 'origin_country': 'US'}, {'id': 171, 'logo_path': None, 'name': 'Malpaso Productions', 'origin_country': 'US'}], 'production_countries': [{'iso_3166_1': 'US', 'name': 'United States of America'}], 'release_date': '1997-02-14', 'revenue': 50068310, 'runtime': 121, 'spoken_languages': [{'english_name': 'English', 'iso_639_1': 'en', 'name': 'English'}], 'status': 'Released', 'tagline': 'Corrupts Absolutely.', 'title': 'Absolute Power', 'video': False, 'vote_average': 6.637, 'vote_count': 970}

In [187]:
data['poster_path']

'/xX9gmwtnTi0Y8WcTF7Jsg9Hdp6W.jpg'

In [189]:
df['title'].values

array(['Avatar', "Pirates of the Caribbean: At World's End", 'Spectre',
       ..., 'Signed, Sealed, Delivered', 'Shanghai Calling',
       'My Date with Drew'], dtype=object)

In [2]:
for j in range(5,11):
    print(j)

5
6
7
8
9
10

deployment 
python -m venv myenvmyenv\Scripts\activate

In [3]:
pip install --upgrade pip

Requirement already satisfied: pip in c:\python310\lib\site-packages (23.2.1)Note: you may need to restart the kernel to use updated packages.

Collecting pip
  Obtaining dependency information for pip from https://files.pythonhosted.org/packages/47/6a/453160888fab7c6a432a6e25f8afe6256d0d9f2cbd25971021da6491d899/pip-23.3.1-py3-none-any.whl.metadata
  Using cached pip-23.3.1-py3-none-any.whl.metadata (3.5 kB)
Using cached pip-23.3.1-py3-none-any.whl (2.1 MB)
Installing collected packages: pip
  Attempting uninstall: pip
    Found existing installation: pip 23.2.1
    Uninstalling pip-23.2.1:
      Successfully uninstalled pip-23.2.1
Successfully installed pip-23.3.1